# Ferium
ferium/.config/ferium/.cache
ferium/.config/ferium/.tmp

# iTerm2
iterm2/.config/iterm2/AppSupport/iterm2-daemon*
iterm2/.config/iterm2/AppSupport/iTermServer*
iterm2/.config/iterm2/AppSupport/parsers
iterm2/.config/iterm2/AppSupport/SavedState
iterm2/.config/iterm2/AppSupport/version.txt

# Neomutt
neomutt/.config/neomutt/keys

# Neovim
nvim/.config/nvim/log
nvim/.config/nvim/lsp.log
nvim/.config/nvim/.netrwhist

# OBS-studio
obs-studio/.config/obs-studio/logs
obs-studio/.config/obs-studio/profiler_data

# OpenRGB
OpenRGB/.config/OpenRGB/logs

# zsh
zsh/.config/zsh/.zcompdump
zsh/.config/zsh/.zsh_history
zsh-macos/.config/zsh-macos/.macos_zsh_history
